Cargar datos: Importamos pandas y leemos el archivo csv

In [7]:
import pandas as pd

df = pd.read_csv('C:/Users/se302/Documents/PROGRAMACION/Ciencia de datos/dataset.csv',index_col="id")

print("DataFrame cargado correctamente:")
df.head()

DataFrame cargado correctamente:

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129