Cargar datos: 
Importamos pandas y leemos el archivo csv
Descubrir los datos

In [1]:
import pandas as pd

df = pd.read_csv('C:/Users/se302/Documents/PROGRAMACION/Ciencia de datos/doc/dataset.csv',index_col="id")

print("DataFrame cargado correctamente:")
df.head() #primeras 5 filas de la DataFrame
#df.tail(19) # √∫ltimas 5 o mas filas de el DataFrame
#df.describe() # descripci√≥n estad√≠stica de las columnas num√©ricas

DataFrame cargado correctamente:

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

Limpieza de datos:Muchas veces es necesario limpiar datos para que se puedan trabajar con ellos.

Ejemplo:Muchas veces habran datos incompleto o espacios vacios,nosotros podemos dentro de pandas desasernos o llenar con valores por defecto.

In [2]:
df_filtrado = df.dropna()
df_filtrado.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129
183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,ECUADOR,leonardokuffo,389.0,258

üîºEn el dataframe podemos vizualizar que me a eliminado las filas que tenian el valor la funcion:df_filtrado = df.dropna() Elimina las filas que tienen datos incompletos

¬øPero si no los queremos eliminar por completo?üîΩ

In [3]:
df_filtrado = df.fillna (0) #nos va a llenar la columna con el dato 0
df_filtrado.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,0.0,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

Avanzado:Algo mas complejo es cuando tengo que llenar datos dentro de la columna

In [4]:
df_filtrado = df.fillna( {"retweets": 0 , "mentions": -1} )
df_filtrado.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,-1.0,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [5]:
# 1. Importar la librer√≠a pandas (esencial para trabajar con DataFrames)
import pandas as pd
# 2. Definir la variable 'df' cargando tus datos desde un archivo.
#    Aseg√∫rate de reemplazar 'nombre_de_tu_archivo.csv' con el nombre y ruta real de tu archivo.
try:
    df = pd.read_csv('C:/Users/se302/Documents/PROGRAMACION/Ciencia de datos/doc/dataset.csv')

    # 3. Ahora que 'df' existe, puedes usarla sin problemas.
    #    Esta l√≠nea, que antes daba error, ahora funcionar√° correctamente.
    columna_texto = df["full_text"]

    # 4. (Opcional pero recomendado) Imprimir las primeras filas para verificar
    print("Se accedi√≥ a la columna 'full_text' con √©xito. Mostrando las primeras 5 entradas:")
    print(columna_texto.head())


except FileNotFoundError:
    print("Error de correcci√≥n: No se encontr√≥ el archivo 'nombre_de_tu_archivo.csv'.")
    print("Por favor, verifica que el nombre y la ruta del archivo son correctos.")

except KeyError:
    
    print("Error de correcci√≥n: La columna 'full_text' no existe en el DataFrame.")
    print("Revisa si el nombre est√° bien escrito. Las columnas disponibles son:")
    print(df.columns.tolist())

Se accedi√≥ a la columna 'full_text' con √©xito. Mostrando las primeras 5 entradas:
0    Flying home to run down from the power to comi...
1                  Today we commemorate and MNML Case.
2         Today we have reached US$6.55 Billion TT$44‚Ä¶
3    Faking It by Joel Atwell. Written by Other cou...
4                                      Welcome back! üôå
Name: full_text, dtype: object

In [6]:
df[["favorites","full_text"]] # si yo quisiera tener el numero de favoritos y el texto Recordar que el identificadora de cada fila

    favorites                                          full_text
0        23.0  Flying home to run down from the power to comi...
1       500.0                Today we commemorate and MNML Case.
2       190.0       Today we have reached US$6.55 Billion TT$44‚Ä¶
3       131.0  Faking It by Joel Atwell. Written by Other cou...
4       113.0                                    Welcome back! üôå
5       492.0  Contest: Win a fan of his ass. #thatisall Thanks!
6       158.0                                 80's & friends! ‚úàÔ∏è
7         NaN  Thank you guess how did I feel somewhat offend...
8       198.0        OnePlus 8 international giveaway classifies
9       272.0                Here it is.. Retweet this desperate
10       43.0  Great to advertise during the year I tweeted a...
11      349.0  Its been in love with the game with the origin...
12      467.0                           Programming is the best!
13       50.0                             I cannot believe this!
14      418.0                             Buy this product NOW!!
15      361.0  I have one is best color gradients: Just relea...
16      346.0                                              PIC!!
17      296.0                             hmmm feeling bad today
18      315.0                          not feeling god right now
19      133.0                        Programming is a hot topic!
20       92.0                            Programming? i love it!
21      255.0                                            WHAT???
22      432.0                         Amazing video by Leonardo!
23      430.0                                        Thanks man!
24      424.0          There is nothing better than programming!
25      488.0                                           BORED AF
26      318.0  I do not know if i like programming or other t...

Identificar las filas

Manera Numero 1

In [7]:
df.iloc[[1,2,3,4]] # si yo quisiera tener las filas 0,1,2,3 y 4

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

Manera 2 por identificador

In [8]:
primeras_cinco_filas = df.iloc[0:5]

print(primeras_cinco_filas)

       id                                          full_text  favorites  \
0  183721  Flying home to run down from the power to comi...       23.0
1  183722                Today we commemorate and MNML Case.      500.0
2  183723       Today we have reached US$6.55 Billion TT$44‚Ä¶      190.0
3  183724  Faking It by Joel Atwell. Written by Other cou...      131.0
4  183725                                    Welcome back! üôå      113.0

   retweets  mentions  country           user  followers  followees
0       NaN      10.0  ECUADOR  leonardokuffo      389.0        258
1      21.0       NaN   BRASIL  mateusmartins      982.0       1822
2     123.0       6.0   MEXICO    pedrojuarez       12.0        129
3      76.0       3.0  ECUADOR   galocastillo      332.0        378
4     130.0       9.0   MEXICO    pedrojuarez       12.0        129