Cargar datos: 
Importamos pandas y leemos el archivo csv
Descubrir los datos

In [1]:
import pandas as pd

df = pd.read_csv('C:/Users/se302/Documents/PROGRAMACION/Ciencia de datos/doc/dataset.csv',index_col="id")

print("DataFrame cargado correctamente:")
df.head() #primeras 5 filas de la DataFrame
#df.tail(19) # √∫ltimas 5 o mas filas de el DataFrame
#df.describe() # descripci√≥n estad√≠stica de las columnas num√©ricas

DataFrame cargado correctamente:

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

Limpieza de datos:Muchas veces es necesario limpiar datos para que se puedan trabajar con ellos.

Ejemplo:Muchas veces habran datos incompleto o espacios vacios,nosotros podemos dentro de pandas desasernos o llenar con valores por defecto.

In [2]:
df_filtrado = df.dropna()
df_filtrado.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129
183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,ECUADOR,leonardokuffo,389.0,258

üîºEn el dataframe podemos vizualizar que me a eliminado las filas que tenian el valor la funcion:df_filtrado = df.dropna() Elimina las filas que tienen datos incompletos

¬øPero si no los queremos eliminar por completo?üîΩ

In [ ]:
df_filtrado = df.fillna (0) #nos va a llenar la columna con el dato 0
df_filtrado.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,0.0,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

Avanzado:Algo mas complejo es cuando tengo que llenar datos dentro de la columna

In [14]:
df_filtrado = df.fillna( {"retweets": 0 , "mentions": -1} )
df_filtrado.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,-1.0,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [13]:
# 1. Importar la librer√≠a pandas (esencial para trabajar con DataFrames)
import pandas as pd

# --- CORRECCI√ìN PRINCIPAL ---
# 2. Definir la variable 'df' cargando tus datos desde un archivo.
#    Aseg√∫rate de reemplazar 'nombre_de_tu_archivo.csv' con el nombre y ruta real de tu archivo.
try:
    df = pd.read_csv('C:/Users/se302/Documents/PROGRAMACION/Ciencia de datos/doc/dataset.csv')

    # 3. Ahora que 'df' existe, puedes usarla sin problemas.
    #    Esta l√≠nea, que antes daba error, ahora funcionar√° correctamente.
    columna_texto = df["full_text"]

    # 4. (Opcional pero recomendado) Imprimir las primeras filas para verificar
    print("Se accedi√≥ a la columna 'full_text' con √©xito. Mostrando las primeras 5 entradas:")
    print(columna_texto.head())

# --- Buenas pr√°cticas para manejar otros posibles errores ---
except FileNotFoundError:
    print("Error de correcci√≥n: No se encontr√≥ el archivo 'nombre_de_tu_archivo.csv'.")
    print("Por favor, verifica que el nombre y la ruta del archivo son correctos.")

except KeyError:
    # Este error ocurre si el archivo se carga, pero la columna 'full_text' no existe.
    print("Error de correcci√≥n: La columna 'full_text' no existe en el DataFrame.")
    print("Revisa si el nombre est√° bien escrito. Las columnas disponibles son:")
    print(df.columns.tolist())

Se accedi√≥ a la columna 'full_text' con √©xito. Mostrando las primeras 5 entradas:
0    Flying home to run down from the power to comi...
1                  Today we commemorate and MNML Case.
2         Today we have reached US$6.55 Billion TT$44‚Ä¶
3    Faking It by Joel Atwell. Written by Other cou...
4                                      Welcome back! üôå
Name: full_text, dtype: object